[FORMAT]
max-line-length=300

[MESSAGES CONTROL]
disable=invalid-name,too-few-public-methods,no-member,no-self-use,abstract-method,unused-argument,raise-missing-from,too-many-arguments

[DESIGN]
max-parents=13

[TYPECHECK]
generated-members=REQUEST,acl_users,aq_parent,"[a-zA-Z]+_set{1,2}",save,delete
